{% extends 'admin/delete_selected_confirmation.html' %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {{ action_short_description }}
</div>
{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} {{ action_name }} confirmation{% endblock %}

{% block content %}
    <p>{{ action_description }}</p>
    <form style="display:inline-block;" enctype="multipart/form-data" method="post">
    {% csrf_token %}{{ form.media }}<input type="hidden" name="action" value="{{ action_name }}" />
    {% for objects in action_objects %}<ul>
    {% for object in objects %}
        <li>{{ object }}{% if callback_template %}{% include callback_template %}{% else %}<input type="hidden" name="{{action_checkbox_name}}" value="{{object.pk}}" />{% endif %}</li>
    {% endfor %}
    </ul>{% endfor %}
    {{ form.as_p }}<br/><br/>
    {{ answer_form.media }}
    {% if action_objects %}{{ answer_form.render_button_positive }}{% endif %}{{ answer_form.render_button_negative }}
    </form>
{% endblock %}

