{% load i18n admin_urls %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Title" %}</title>
</head>
<body>
<h2>{% trans "Hello conference" %}</h2>
{% comment %}
<a href="{% url opts|admin_urlname:'change' %}">{% trans "goto admin" %}</a>
{% endcomment %}
</body>
</html>